<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-amber-400 flex justify-center ">
    <div class="m-10 w-3/12">
        <div class=" bg-neutral-500 p-8 ">
            <h1 class="text-lg text-center text-white font-bold mb-4">POKEDEX</h1>
            <form action="buscar" method="POST">
                <input class="bg-neutral-100 rounded-lg p-2" placeholder="Buscar Pokemon" name="nome" type="text">
                <button class="bg-neutral-100 type="submit" name="buscar">Buscar</button> <br>
                <h3 class="ext-lg text-center text-white font-bold">{{nome}}</h3>
                <img src="{{foto}}" alt="">
                <div>{{tipo1}}</div>
                <div>{{tipo2}}</div>
            </form>
    </div>
    </div>
</body>
</html>
